@import url("assets/css/cabecalho.css");
@import url("assets/css/navBar.css");
@import url("assets/css/metricas.css");
@import url("assets/css/vagas.css");
@import url("assets/css/depoimento.css");
@import url("assets/css/footer.css");


:root {
    --font-principal: 'Inter', sans-serif;
    --text-color: #667085;
    --main-color: #8E2424;

}

body {
    font-family: var(--font-principal);
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}