.depoimentos {
    padding: 96px 0;
}


.container__depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    margin: 64px;
    gap: 32px;
}

.depoimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.depoimento__texto{
    font-weight: 600;
    font-size: 14px;
    color: var(--main-color);
}

.depoimento__titulo{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    color: #101028;
}

.usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.usuario__nome{
    font-weight: 500;
    color: #101828;
    padding-top: 12px;
}

.usuario__cargo{
    font-size: 14px;
    color: var(--text-color );
}